<meta charset="utf8">


<div id="logo_background">

    <img src="/images/logo_background.jpg">

    <div id="dark_blur"></div>
    </img>
</div>
<div id="container">
    <div id="logo">
        <div id="text">β</div>
        <div id="site">βetatravel.ru</div>
    </div>
    <div id="border"></div>
    <div id="slog">
        <h2>Автовокзалы России</h2>
        Купить билеты на автобус по России
        удобно, выгодно и быстро
    </div>
    <div id="input_group">
        <input class="input_field from_point" type="" name="" placeholder="Откуда">
        <div id="predict_input"></div>
        </input>

        <input class="input_field to_point" type="" name="" placeholder="Куда">
        <div id="predict_input_to"></div>
        </input>


        <input class="input_field date" type="date" value="" placeholder="Дата"/>
        <div class="people_count" type="" name="">
            <div class="old">
                <div class="old_param">
                    <div class="circle" onclick="changeCount('old',-1)">-</div>
                    <div id="old_count">1</div>
                    Взрослые
                    <div class="circle" onclick="changeCount('old',1)">+</div>
                </div>
            </div>
            <div class="young">
                <div class="old_param">
                    <div class="circle" onclick="changeCount('young',-1)">-</div>
                    <div id="young_count">0</div>
                    Дети
                    <div class="circle" onclick="changeCount('young',1)">+</div>
                </div>
            </div>
        </div>
    </div>

    <div id="search" onclick="search()">
        Найти рейсы
    </div>
</div>
<div id="next_back">

    <div id="application_block">

        <div class="travel_info">
            <div class="block">
                <div class="city">{{from}}</div>
                <div class="region">{{from_region}}</div>
            </div>
            <div class="block">
                <div class='date'>{{date}}</div>
                <div class='sign'>→</div>
                <div class="passagers">Дети: <a>{{young}}</a> <br> Взрослые: <a>{{old}}</a></div>
            </div>
            <div class="block">
                <div class="city">{{to}}</div>
                <div class="region">{{to_region}}</div>
            </div>
        </div>

        <div class="select_days">
            {{#dates}}
                <div class="day" onclick="change_data('{{from}}','{{to}}','{{day}}',{{old}},{{young}})">
                    {{day}}<br>{{day_name}}
                </div>
            {{/dates}}
        </div>


        <table width="100%" cellpadding="5">
            <div class="not_found">{{not_found}}</div>
            <tr>
                <th>Время отправления</th>
                <th>Время прибытия</th>
                <th>Время в пути</th>
                <th>Расстояние</th>
                <th>Цена<br>(1 билет)</th>
                <th></th>
            </tr>
            {{#trips}}
                <tr>
                    <td>{{start_time}}</td>
                    <td>{{end_time}}
                        <div style="font-size: 15px; position: absolute; width:100%; text-align: center">
                            {{end_date}}
                        </div>
                    </td>
                    <td>{{travel_time}}</td>
                    <td>{{distance}} км.</td>
                    <td>{{price}} руб.</td>
                    <td class="buy_button" onclick="registartion('{{id}}','{{old}}','{{young}}')">Купить</td>
                </tr>
            {{/trips}}

        </table>
    </div>
</div>
<script>
    function registartion(travelID, old, young) {
        window.location.href = "registration?travelid=" + travelID + "&old=" + old + "&young=" + young;
    }

    function change_data(new_from, new_to, new_data, new_old, new_young) {
        window.location.href = "search?from=" + new_from + "&to=" + new_to + "&date=" + new_data + "&old=" + new_old + "&young=" + new_young + "";
    }
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/script/main.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/main.css">

<style type="text/css">
    body {
        overflow-y: scroll;
    }

    table {
        border-collapse: collapse;
        font-family: Montserrat;
        font-size: 20px;
        width: 100%;
        margin-top: 10px;
        position: relative;
    }


    th {
        border: 0px solid rgba(0, 0, 0, 0);
        padding-bottom: 30px;
    }

    td {

        text-align: center;
        padding: 20px 0px;
        position: relative;
    }

    tr:not(:last-child) {
        border-bottom: 1px solid #aaa;
    }

    .not_found {
        position: absolute;
        font-family: Montserrat;
        width: 100%;
        top: 300px;
        text-align: center;
        font-size: 30px;
        color: #222;

    }

    .passagers {
        position: absolute;
        font-family: Montserrat;
        color: white;
        bottom: 0px;
        text-align: center;
        width: 100%;
    }

    .select_days {
        width: 100%;
        height: 50px;
        margin-top: 40px;


    }

    .select_days .day:hover {
        background: #5d76cb;
        cursor: pointer;

    }

    .select_days .day {
        width: 20%;

        height: 100%;
        display: inline-block;
        margin-right: -6px;
        font-family: Montserrat;
        font-size: 20px;
        text-align: center;

    }

    .select_days .day:not(:last-child) {
        border-right: 1px solid #000;
    }

    .buy_button {
        background: #f6175a;
        color: white;

    }

    .buy_button:hover {
        cursor: pointer;
        background: #cf0844;
    }

    .travel_info {
        width: 100%;

        height: 100px;
        margin-bottom: 20px;
        background: #333;
        box-shadow: 5px 5px 10px black;
        border-radius: 5px;
        margin-top: -30px;
        position: relative;
    }

    .travel_info .block {

        height: 100%;
        width: 33%;
        display: inline-block;
        margin: 0 auto;
        margin-right: -2px;
        position: relative;
    }


    .city, .region {
        width: 100%;
        text-align: center;
        position: absolute;
        font-family: Montserrat;
        color: white;
    }

    .city {
        top: 20px;
        font-size: 25px;
    }

    .region {
        top: 50px;

    }

    .sign {
        font-family: Tahoma;
        color: white;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 80px;
        top: -15px;
    }

    .block .date {
        font-family: Tahoma;
        color: white;
        position: absolute;
        width: 100%;
        top: 0px;
        text-align: center;
        font-size: 19px;
    }
</style>
